In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/salaries.csv")

In [4]:
df.to_csv("Salaries.csv")

In [5]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [6]:
data=df.drop('salary_more_then_100k',axis=1)

In [7]:
dest=df['salary_more_then_100k']

In [8]:
from sklearn.preprocessing import LabelEncoder
c_company=LabelEncoder()
c_job=LabelEncoder()
c_degree=LabelEncoder()

In [9]:
data['new_company']=c_company.fit_transform(data['company'])
data['new_job']=c_company.fit_transform(data['job'])
data['new_degree']=c_company.fit_transform(data['degree'])

In [22]:
data

    new_company  new_job  new_degree
0             2        2           0
1             2        2           1
2             2        0           0
3             2        0           1
4             2        1           0
5             2        1           1
6             0        2           1
7             0        1           0
8             0        0           0
9             0        0           1
10            1        2           0
11            1        2           1
12            1        0           0
13            1        0           1
14            1        1           0
15            1        1           1

In [23]:
data.head()

   new_company  new_job  new_degree
0            2        2           0
1            2        2           1
2            2        0           0
3            2        0           1
4            2        1           0

In [25]:
dest.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [26]:
from sklearn import tree
m=tree.DecisionTreeClassifier()

In [27]:
m.fit(data,dest)

DecisionTreeClassifier()

In [28]:
m.score(data,dest)

1.0

We should get answer as 0 ,Salary of google,computer engineer,Bachelors degree.Let me check.

In [31]:
m.predict([[2,1,0]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

We should get answer as 1,Salary of google,computer engineer,masters degree>100k . Let me check

In [30]:
m.predict([[2,1,1]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])